# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Django migrations
*/migrations/*.py
*/migrations/*.pyc

# Local development environment variables
.env

# Database files
*.sqlite3


# Static files and media uploads
media/
staticfiles/

# Log files
*.log

# IDE and editor files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Coverage reports
.coverage
coverage.xml
*.cover

# Ignore any other personal settings
*.local
