

.goodnesssecont img{
  width: 100%;
}

.buttermilk {
  background-color: #fff;background-image: linear-gradient(#fff7ef, #fff);
  background-image: -webkit-linear-gradient(#fff7ef, #fff);
  background-image: -moz-linear-gradient(#fff7ef, #fff);
  background-image: -ms-linear-gradient(#fff7ef, #fff);
  background-image: -o-linear-gradient(#fff7ef, #fff);
  padding: 50px 40px;
  border: 1px solid #efe8e1;
  padding-bottom: 20px;
}

.smbg {
  background-color: #fff;
  background-image: linear-gradient(rgba(110, 69, 143, 0.1), #fff);
  background-image: -webkit-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
  background-image: -moz-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
  background-image: -ms-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
  background-image: -o-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
}

.curdbgpro{
  background-color: #fff;
  background-image: linear-gradient(rgba(10, 77, 123, 0.1), #fff);
  background-image: -webkit-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
  background-image: -moz-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
  background-image: -ms-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
  background-image: -o-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
}

.mlkpro{
  color: #636362;
  font-size:22px;
  line-height:22px;
  margin-bottom:15px;
  width:43%;
  margin:0 auto;
  text-align:center;
}

.goodnesssec a{
  text-decoration: none;
  overflow:hidden;
}

.nav-link {
  position: relative; /* Needed for absolute positioning of the badge */
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Light background on hover */
}

.footer-link:hover {
  color: #50C878 !important;
}

.cart-badge {
  display: inline-block;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  position: absolute; /* Position the badge absolutely */
  top: -7px; /* Adjust this value to move the badge up or down */
  right: -10px; /* Adjust this value to move the badge left or right */
  border: 1px solid white;
}