{% extends "app/base.html" %} 
{% load static %} 
{% block title %}About{% endblock title %} 


{% block main-content %}
<div class="container mt-5">
  <!-- About Us Section -->
  <div class="mb-5">
    <h2 class="text-center">About Us</h2>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow-sm bg-secondary-subtle">
          <div class="card-body">
            <p class="fs-5 text-center">This is a public limited company having its registered 
              and corporate office at Pune City of Maharashtra State in India. The company was 
              incorporated in the year 2018 and production commenced in 2020. This is one of the 
              fastest growing Public Listed Companies in Pune.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mission Section -->
  <div>
    <h2 class="text-center">Mission</h2>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow-sm">
          <div class="card-body bg-secondary-subtle">
            <p class="fs-5 text-center">To embrace the right technology to delight our Customers.
              Empowering the farmer community through our unique 'Relationship Farming' Model.
              To anticipate, understand and respond to our Customers' needs by creating high-quality products and making them available through innovative and convenient channels.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
{% endblock main-content %}