{% extends "app/base.html" %} 
{% load static %} 
{% block title %}Login{% endblock title %} 

{% block main-content %} 
<div class="container">
  <div class="row my-3">
      <div class="col-sm-9 offset-sm-3">
          <h3 class="alert-heading">Reset Password Completed !!</h3>
          <div>
            <iframe src="https://giphy.com/embed/tf9jjMcO77YzV4YPwE" width='200' height='200' frameBorder='0' class='giphy-embed' allowFullScreen></iframe>
          </div> 
          <p class="mt-3">You will be redirected to the login page in 5 seconds.</p>
          <p>If not, <a href="{% url 'login' %}">click here</a> to log in.</p>
      </div>
  </div>
</div>

<!-- Add meta tag for 5-second redirection -->
<meta http-equiv="refresh" content="5;url={% url 'login' %}" />

{% endblock main-content %} 

{% block footer %}
<!-- Intentionally left blank to remove footer -->
{% endblock footer %}
